nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.logo {
    height: 120px;
    width: 150px;
    height: 150px;
}
.navigation {
    justify-content: space-around;
}
.namelogo {
   list-style-type: none;
   display: inline-flex;
   justify-content: space-around;
   gap: 50px;
   
}
.cart-menu-con {
    background-color: rgb(247, 21, 134);
    padding: 0px 8px;
    border-radius: 8px;
    color: aliceblue;
}
.cart-count {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}
.bagname {
    letter-spacing: 7px;
    color: rgb(22, 2, 27);
    font-size: 50px;
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    text-shadow: 3px 3px 3px #ee1b1b;
} */
 .bagname:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }
.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    color: rgb(11, 3, 17);
    width: 20%;
    float: right;
    justify-content: space-around;
    top:10%;
    position: absolute;
    right: 0%;
    font-size: 30px;
    font-weight: 10%;

} */
 .underline {
    color: rgb(240, 11, 182);
}